<div class="dashboard-container" style="height: 95vh; max-width: 100%; display: flex; flex-direction: column;">
    <div class="stream-container">
        <img src="assets/NoSignal.png" id="Stream 1" class="stream">
        <img src="assets/NoSignal.png" id="Stream 2" class="stream">
        <img src="assets/NoSignal.png" id="Stream 3" class="stream">
    </div>
    <div class="feedback-container">
        <div class="canvas-container" style="justify-content: left;">
            <div class="square-canvas">
                <canvas #flipperCanvas width="300" height="300" style="width: 100%; height: 100%; aspect-ratio: 1;"></canvas>
            </div>
        </div>
        <div class="canvas-container">
            <div class="square-canvas">
                <canvas #joystickCanvas width="300" height="300" style="width: 100%; height: 100%; aspect-ratio: 1;"></canvas>
            </div>
        </div>
        <div class="canvas-container" style="justify-content: right;">
            <div class="square-canvas">
                <canvas #armCanvas width="300" height="300" style="width: 100%; height: 100%; aspect-ratio: 1;"></canvas>
            </div>
        </div>
    </div>
</div>
