.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .about-header {
    background-color: #f0741c;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .about-header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .about-header p {
    font-size: 18px;
  }
  
  .about-description {
    margin-top: 20px;
    font-size: 16px;
  }
  